.header {
    background-color: rgb(238, 238, 238);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}

.header .header-content {
    font-size: 4.5em;
    margin-left: 40px;
}

.cart-price {
    text-align: right;
    margin-top: 40px;
}

.price-wrapper {
    font-size: 2em;    
}

.price-wrapper i{
    font-style: normal;
}

.category-buttons {
    text-align: right;
}

.books {
    text-align: center;
    margin-top: 40px;
}

.book {    
    margin: auto;
    width: 200px;
    height: 300px;
    border: 2px solid #000;      
}

.css {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    background: rgba(0,0,0,.9);    
    color: #ffffff;
}

.js {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    background: rgba(0,0,0,.9);    
    color: #ffffff;
}

.book-header {
    text-align: left;
    font-weight: 700;
}

.book-author {
    text-align: left;
}

.book-intro {
    text-align: left;
    font-size: 0.6em;
}

.book-price-wrap {    
    font-size: 2em;
}

.book-price {    
    font-style: normal;
}


.book-buy-button-wrap {
    
}

.book-buy-button {
    font-size: 1.5em;
    width: 100%;
    opacity: 1;
}